# General
.DS_Store

# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pywz

# Editor-specific files
.idea/
.vscode/
*.swp

# Django-specific files
*.log
*.sqlite3
media/
staticfiles/
